<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>DELETE</title>
</head>
  <body>
    <form action=<%= `${id}?_method=DELETE`%> method="POST">
  <input type="number" name="id" value=""></br>
  <button type="submit">delete</button>
  </form>
  </body>
</html>
