<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>CONTRACT FORM</title>
</head>

<body>
  <form name="create contract" action="/contracts" method="POST">
    <label>TARGET NAME: </label>
    <input type="text" name="target_name" value="">
    </br>
    <label>LOCATION: </label>
    <input type="text" name="location" value="">
    </br>
    <label>PHOTO: </label>
    <input type="text" name="photo" value="">
    </br>
    <label>SECURITY:</label>
    <input type="text" name="security" value="">
    </br>
    <label>BUDGET:</label>
    <input type="number" name="budget" value="">
    </br>
    <label>COMPLETED: </label>
    <input type="number" name="completed" value="">
    </br>
    <label>CLIENT:</label>
    <input type="number" name="client" value="">
    </br>
    <label>ASSASSIN ASSIGNED:</label>
    <input type="number" name="assassins_id" value="">
    </br>
    <button type="submit">SUBMIT</button>
  </form>
