<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title> KILLBASE</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div style="margin-left: 600px;">
    <image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDlXEtJDoiMbge4KKE0zO4LRTpSuNjnltE8eE88xjuhsqoAHz9">
  <h1 >KILLBASE</h1>
</div>
<div style="margin-left: 600px;">
<a href='/assassins'>ASSASSINS</a>
<a href='/contracts' style="margin-left:20px; ">CONTRACTS</a>
</div>
</body>
<html>
